 *{
    margin: 0;
    padding: 0;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,39,0.5),rgba(4,9,39,0.5)),url(image/background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 130px;
    margin-left: 0;
}
nav img:hover{
    border: 2px solid black;
    transition: 0.5s;
}
.nav-link{
   flex: 1;
   text-align: right;
}
.nav-link ul li{
    list-style: none;    /*no bullets*/
    display: inline-block;  /*side by side*/
    padding: 8px 12px;
    position: relative;
}
.nav-link ul li a{
    color: aliceblue;
    text-decoration: none;
    font-size: 14px;
}
.nav-link ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #16972b;
    display: block;
    margin: auto;
    transition: 2s;
}
.nav-link ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: hsl(108, 33%, 97%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 60px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: white;
}
.home-btn{
    display: inline-block;
    text-decoration: none;
    color: rgb(248, 241, 241);
    border: 2px solid #fff;
    padding: 12px 34px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 2rem;
    background: transparent;
    position: relative;
    cursor: pointer;
    
}
.home-btn:hover{
    border: 0.5px solid #4278a3;
    background: #4278a3;
    transition: 0.5s;
}

/*    Adventure */

.adventure{
    width: 100%;
    height: 100%;
    margin: 20px,20px,50px,10px;
    text-align: center;
    padding-top: 100px;
    background-color: rgb(238, 245, 243);
}
h1{
    font-size: 30px;
    font-weight: 400px;
}
.row{
    width: 90%;
    height: 50%;
    margin: 5%;
    padding: auto;
    display: flex;
    justify-content: space-between;
}
h3{
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    margin: 15px;
}
.ad-photo{
    flex-basis: 30%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.ad-photo:hover{
    border: 1px solid black;
    transition: 0.2s;
}
.ad-photo img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
}
.ad-photo img :hover{
    border:2px #0c0c0c; 
    transition: 0.8s;
}
.ad-para{
    text-align: center;
    font-weight: 600;
    margin: 5%;
    padding: 5%;
    background-color: rgb(237, 245, 242);
}
.adv-button{
    display: inline-block;
    text-decoration: none;
    color: rgb(19, 18, 18);
    border: 2px solid rgb(20, 8, 8);
    border-radius:10px ;
    padding: 12px 10px;
    margin: 3%;
    font-size: 13px;
    background: rgb(52, 182, 80);
    position: relative;
    cursor: pointer;
   
}
.adv-button:hover{
    border: 0.5px saddlebrown;
    background: #115849;
    transition: 0.5s;
}

/*              About       */

.about{
    width: 100%;
    margin: auto;
    background-color:#bcd196 ;
}
.row-about{
    margin: 5%;
    display: flex;
    justify-content: space-between;
}
.row-about img{
    width: 100%;
    border-radius: 20px;
    margin-top:20px ;
    cursor: pointer;
    transition: 1s;
}
.row-about img:hover{
    border: 3px solid #101011;
    transition: 0.5s;
    
}
.about h2{
    font-size: 30px;
    text-align: center;
    font-weight: 800;
    color: #11ad1e;
    margin-top: 100px;
}
.about p{
    font-size: 19px;
    font-weight: 500;
    text-align: center;
    margin: 50px;
}
.about-btn{
    display: inline-block;
    text-decoration: none;
    color: rgb(15, 14, 14);
    border: 2px solid rgb(20, 8, 8);
    border-radius:10px ;
    padding: 12px 10px;
    margin-left:500px ;
    margin-top: 90px;
    margin-bottom: 30px;
    font-size: 13px;
    background: rgb(16, 219, 16);
    position: relative;
    cursor: pointer;
}
.about-btn:hover{
    border: 0.5px saddlebrown;
    background: #115849;
    transition: 0.5s;
    
}

/*           Shop           */

.shop{
    width: 100%;
    margin: auto;
    background-color:#f4faf5 ;
}
.shop p{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: rgb(236, 178, 70);
    margin-top: 10px;
}
.row-shop{
    display: flex;
    justify-content: space-between;
    margin: 5%;
}
.shop-item img{
    width: 100%;
    height: 50%;
}
.a1{
    width: 200px;
}
.shop-item{
    border: 3px solid black;
    background-color: #0f0f0f;
    border-radius: 10px;
}
.shop-item:hover{
    border: 5px solid rgb(134, 33, 33);
    transition: 0.5s;
}
.shop-item h3{
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: #faf6f6;
    padding: 10px;
}
.shop h1{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin-top: 40px;
    padding-top: 30px;

}
.shop-item p{
    text-align: center;
    padding: 5%;
    font-weight: 300;
    color: #e3ebee;

}
.shop-btn{
    display:inline-block;
    text-decoration: none;
    color: #0b0c0b;
    border: 2px black;
    border-radius: 10px;
    padding: 12px 15px;
    margin-left: 1150px;
    margin-bottom: 30px;
    background:rgb(63, 236, 63) ;
    position: relative;
    cursor: pointer;
}
.shop-btn:hover{
    border: 1px black;
    background: #115849;
    transition: 0.5s;
}


.package{
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.pack-row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.pack-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.pack-col h3{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}
.pack-col img{
    width: 100%;
    height: 80%;
    border-radius: 10px;
}
.pack-col img:hover{
    border: 3px solid black;
    transition: 0.5s;
}
.package h1{
    font-size: 36px;
    font-weight: 600;
}
.package p{
    color: rgb(12, 12, 12);
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    text-align: center;
}
.pack-btn{
    display:inline-block;
    text-decoration: none;
    color: #0b0c0b;
    border: 2px black;
    border-radius: 10px;
    padding: 12px 50px;
    margin-left: 900px;
    margin-bottom: 30px;
    background:rgb(63, 236, 63) ;
    position: relative;
    cursor: pointer;
}
.pack-btn:hover{
    border: 2px solid black;
    background: #115849;
    transition: 0.5s;
}



.rew{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    background-color: white;
    padding-top: 100px;
}
.rew h1{
    font-size: 36px;
    font-weight: 600;
    color: #040216;
}
.rew p{
    color: #0a0a09;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    padding: 10px;
}
.rew h4{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}
.rew-row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.rew-col{
    flex-basis: 31%;
    background: rgb(236, 164, 82);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
.rew-col:hover{
    border: 1px solid salmon;
    transition: 0.5s;
}
.rew-col h4{
    text-align: center;
    font-size: 25px;
    font-weight: 400;

}
.rew-col p{
     text-align: center;
     font-size: 14px;
     font-weight: 300;
}
.rew-btn{
    display:inline-block;
    text-decoration: none;
    color: #0b0c0b;
    border: 2px black;
    border-radius: 10px;
    padding: 12px 25px;
    margin-left: 900px;
    margin-bottom: 30px;
    background:rgb(109, 233, 98) ;
    position: relative;
    cursor: pointer;
}
.rew-btn:hover{
    border: 2px solid black;
    transition: 0.5s;
    background: #d5f03f;
}


.blog{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    background-color: #e3ebee;
    padding-top: 100px;
}
.blog-row{
    display: flex;
    margin: 5%;
    justify-content: space-between;
    padding: auto;
    
}
.blog-col{
    flex-basis: 31%;
    width: 100%;
    background: #f3c682;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
.blog-col:hover{
    border: 3px solid brown;
    transition: 0.5s;
}
.blog-col img{
    width: 70%;
    height: 90%;
}
.blog h1{
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    color: black;
}
.blog h3{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    
}
.blog p{
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}
.blog-btn{
    display:inline-block;
    text-decoration: none;
    color: #0b0c0b;
    border: 2px black;
    border-radius: 10px;
    border: #0c0c0c;
    padding: 12px 20px;
    margin-left: 0px;
    margin-bottom: 30px;
    background:rgb(129, 243, 163) ;
    position: relative;
    cursor: pointer;
}
.blog-btn:hover{
    border: 3px solid black;
    transition: 0.5s;
    background-color: #11ad1e;
}

/*.foot{
    min-height: 100vh;
    width: 100%;
    background-color: black;
    background-position: center;
    background-size: cover;
    position: relative;
    text-decoration: none;
}
.foot-row{
    display: flex;
    margin: 3%;
    justify-content: space-between;
    padding-top: 100px;
}*/
.footer {
  
    background-color: black;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  
  .footer .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(15rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap:1rem;
  }
  
  .footer .box-container .box h3 {
    font-size: 20px;
    padding-top: 4rem;
   padding-left:38%;
   padding-bottom: 1rem;
   padding-right: 2rem;
    color: #fff;
  }
  
  .footer .box-container .box a {
    display: block;
    font-size: 14px;
    color: #fff;
    padding: 0.5rem 0;
    padding-left: 38%;
    text-decoration: none;
  }
  
  .footer .box-container .box a i {
    color: #219150;
    padding-right: .5rem;
  }
  
  .footer .box-container .box a:hover {
    color: #219150;
  }
  
  .footer .box-container .box a:hover i {
    padding-right: 2rem;
  }
  
  .footer .credit {
    text-align: center;
    margin-top: 2.5rem;
    padding: 1rem;
    padding-top: 2.5rem;
    font-size: 1rem;
    color: #fff;
  }
  
  .footer .credit span {
    color: #219150;
  }